
.caixaTexto{
    line-height: 15px !important;
    height: auto;
    
}
.h1{
    color: #372D3B !important;
    font-size: 40px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
   
}

.h2{
    color: #372D3B !important;
    font-family: Inter !important;
    font-size: 25px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
}

#colorido{
    color: #864293 !important;
    
}